.search{
  padding: 20px;
  position: relative;
  width: 420px;
}
.searchInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    z-index: 1;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    height: 100%;
    width: 440px;
    padding: 10px;
    position: relative;
  }
  
  .searchIcon {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    background-color: white;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    position: absolute;
    top: 50px;
    margin-top: 5px;
    height: 200px;
    width: 100%;
    text-align: start;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    width:8px;
  }
  
  .dataItem p {
    font-size: 12px;
  }
  .info{
    padding-left: 10px;
  }
  .info:hover{
    background-color: rgb(231, 230, 164);
  }
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    background-color: rgb(231, 230, 164);
  }
  
  #clearBtn {
    cursor: pointer;
  }

  .dataResult .noUser{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
  }